{% block title %}{% endblock %}
{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PicShare - Home</title>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock %}
{% block content %}

	<div class="nav-bar">

		<div class='header'>
			<a href='/dashboard'><h3>PicShare</h3></a>
			
		</div>

		<div class='header-middle'>
			<input type='text' placeholder='Search...'>
		</div>

		<div class='header-right'>
			<a href='/dashboard'><i class="fas fa-home"></i></a>
			<a href='/post'><i class="fas fa-plus-square"></i></a>
			<a href='#'><i class="fas fa-user-circle"></i></a>
			<a href='/logout'><i class="fas fa-sign-out-alt"></i></a>
		</div>

	</div>
	<hr>




	<div class='account-box'>

		<div class='account-box-top'>
			<div class='username-photo'>
				<img src='{{ profile_pic }}' width="50" height="50">
				<div class='post-total-username'>
					<h4>{{ current_user.username }}</h4>
					<p>Number of posts: {{ posts_num }}</p>
				</div>
			</div>
		</div>

		<div class='message-flash'>
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}">
					{{ message }}
					</div>
				{% endfor %}
			{% endif %}
			{% endwith %}
		</div>

		<form method='POST' action='' enctype="multipart/form-data">
		<div class='edit-account'>
				{{form.hidden_tag()}}
				{{form.email(value=email, placeholder='Email')}}
				{{form.username(value=username, placeholder='Username')}}
				<div class='bio'>{{form.bio(value=bio, placeholder='Bio')}}</div>
				<div class='profile-pic'>
					{{form.profile_pic}}
				</div>
				<div class='submit'>{{form.submit}}</div>
		</div>
		</form>

		
	</div>



	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

		* {
			margin: 0;
			font-family: 'Roboto', sans-serif;
		}

		a {
			text-decoration: none;
			color: black;

		}

		hr {
			height: 1px;
			border: 0;
			background-color: lightgray;

		}
		.nav-bar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 50px;
			position: sticky;
			z-index: infinite;
			background-color: white;
		}

		.header {
			padding-left: 200px;
		}

		.header-right {
			padding-right: 200px;
		}

		.header-right > a {
			font-size: 23px;
			margin-right: 20px;
		}

		.header-middle {
			display: flex;
			margin-left: 100px;
			align-items: center;
			justify-content: center;
		}

		.header-middle > input {
			padding-left: 10px;
			height: 30px;
			width: 190px;
			border: 1px solid lightgray;
			border-radius: 3px;
			display: flex;
		}


		.account-box {
			border: 1px solid lightgray;
			border-radius: 3px;
			display: flex;
			flex-direction: column;
			margin-top: 50px;
			margin-left: 30%;
			margin-right: 30%;
		}

		.account-box-top {
			display: flex;
			flex-direction: column;
			margin-left: 150px;
			margin-top: 25px;
			margin-bottom: 30px;

		}

		.message-flash {
			color: white;
			background-color: #0088ff;

			border-radius: 3px;
			text-align: center;
			margin-bottom: 10px;
			margin-left: 30%;
			margin-right: 30%;
		}

		.username-photo {
			display: flex;
		}

		.profile-pic {
			padding: 5px;
			border: 1px solid lightgray;
			border-radius: 3px;
			margin-bottom: 10px;
			width: 260px;
		}

		.post-total-username {
			margin-top: 15px;
			margin-left: 10px;
			padding: 0;
		}

		.post-total-username > p{
			font-size: 13px;
		}

		.username-photo > img {
			border-radius: 50px;
		}

		.edit-account {
			display: flex;
			border-radius: 3px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.edit-account > input{
			margin-bottom: 10px;
			height: 35px;
			width: 270px;
			border: 1px solid lightgray;
			border-radius: 3px;
			padding-left: 10px;
		}

		.bio > textarea {
			max-width: 270px;
			min-width: 270px;
			border: 1px solid lightgray;
			padding: 10px;
			margin-bottom: 10px;
			min-height: 35px;
			height: 35px;
			border-radius: 3px;
		}

		.submit > input{
			height: 30px;
			width: 270px;
			cursor: pointer;
			background-color: #0088ff;
			border: none;
			color: white;
			border-radius: 3px;
			margin-bottom: 50px;
		}

	</style>

{% endblock %}