{% block title %}{% endblock %}
{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PicShare - My account</title>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="stylesheet" href="../static/styles.css">

{% endblock %}
{% block content %}

	<div class="nav-bar">

		<div class='header'>
			<a href='/dashboard'><h3>PicShare</h3></a>
			
		</div>

		<div class='header-middle'>
			<input type='text' placeholder='Search...'>
		</div>

		<div class='header-right'>
			<a href='/dashboard'><i class="fas fa-home"></i></a>
			<a href='/post'><i class="fas fa-plus-square"></i></a>
			<a href='#'><i class="fas fa-user-circle"></i></a>
			<a href='/logout'><i class="fas fa-sign-out-alt"></i></a>
		</div>

	</div>
	<hr>




	<div class='account'>

		<div class='account-box'>
			<div class='username-photo'>
				<img src='{{ profile_pic }}' width="50" height="50">
				<div class='post-total-username'>
					<h4>{{ current_user.username }}</h4>
					<p>Number of posts: {{ posts_num }}</p>
				</div>
			</div>

		<div class='message-flash'>
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}">
					{{ message }}
					</div>
				{% endfor %}
			{% endif %}
			{% endwith %}
		</div>

		<form method='POST' action='' enctype="multipart/form-data">
		<div class='edit-account'>
				{{form.hidden_tag()}}
				{{form.email(value=email, placeholder='Email')}}
				{{form.username(value=username, placeholder='Username')}}
				<div class='bio'>{{form.bio(value=bio, placeholder='Bio')}}</div>
				<div class='profile-pic'>
					{{form.profile_pic}}
				</div>
				<div class='submit'>{{form.submit}}</div>
		</div>
		</form>

		</div>
		
	</div>




{% endblock %}