{% block title %}{% endblock %}
{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block content %}

	<form method="POST" action="/post">

		<div class="post">

			<div class='post-form'>

				<div class="post-header">
					<h2>New Post</h2>
				</div>
			<form method='POST' action='' enctype="multipart/form-data">
				<div class='input'>
					{{form.hidden_tag()}}
					{{form.caption}}
					<div class='picture'>
						{{form.picture}}
					</div>
					<div class='submit'>{{form.submit}}</div>
				</div>
			</form>


				<div class='small-text'>
					<p>This post will be visible to everyone using this app.</p>
				</div>
			</div>



		</div>
		
		

	</form> 

	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

		* {
			margin: 0;
			font-family: 'Roboto', sans-serif;
		}


		.post {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			margin-top: 150px;
		}

		.post-form {
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border: 1px solid lightgray;
			width: 325px;
		}


		.post-header {
			margin-top: 50px;
			margin-bottom: 20px;
			text-align: center;
		}

		
		.input {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-left: 6%;
			margin-right: 6%;
			margin-bottom: 10px;
		}

		.input > textarea{
			max-width: 270px;
			min-width: 270px;
			border: 1px solid lightgray;
			padding: 10px;
			margin-bottom: 10px;
			min-height: 35px;
			height: 35px;
			border-radius: 3px;
		}

		.picture {	
			padding: 5px;
			border: 1px solid lightgray;
			border-radius: 3px;
			margin-bottom: 10px;
		}

		.submit > input{
			height: 30px;
			width: 230px;
			cursor: pointer;
			background-color: #0088ff;
			border: none;
			color: white;
			border-radius: 3px;
		}

		.small-text {
			font-size: small;
			text-align: center;
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 50px;
		}

	</style>


{% endblock %}