{% block title %}{% endblock %}
{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PicShare - Home</title>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="stylesheet" href="../static/styles.css">
{% endblock %}
{% block content %}

	<div class="nav-bar">

		<div class='header'>
			<a href='/dashboard'><h3>PicShare</h3></a>

		</div>

		<div class='header-middle'>
			<input type='text' placeholder='Search...'>
		</div>

		<div class='header-right'>
			<a href='#'><i class="fas fa-home"></i></a>
			<a href='/post'><i class="fas fa-plus-square"></i></a>
			<a href='/account'><i class="fas fa-user-circle"></i></a>
			<a href='/logout'><i class="fas fa-sign-out-alt"></i></a>
		</div>

	</div>
	<hr>

	<div class='message-flash'>
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-{{ category }}">
				{{ message }}
				</div>
			{% endfor %}
		{% endif %}
		{% endwith %}
	</div>

	{% for post in posts %}
	<div class='post'>
		<div class='post-content'>

			<div class='profile-pic-username'>
				<img src="../static/profile_pics/{{ post.owner.profile_pic }}" width="50" height="50">

				<a href="{{ url_for('user', username=post.owner.username)}}">{{ post.owner.username }}</p>

			</div>

			<div class="post-image">
				<a href='#'><img src='../static/pictures/{{ post.picture }}'></a>
			</div>

		
			<div class='post-info'>
				<p>{{ post.likes }}</p>
				<div class='icons'>
					<a href="#"><i class="fas fa-heart"></i></a>
					<a href='#'><i class="fas fa-comment"></i></a>

					{% if current_user == post.owner %}
					<div class='modify'>
						<a href="{{ url_for('delete_post', post_id=post.id)}}">Delete</a>
						<a href='#'>Update</a>
					</div>
					{% else %}
					{% endif %}
				</div>
	
				<div class='caption'>
					<p>{{ post.caption }}</p>
				</div>
			</div>

		</div>
	
	</div>
	{% endfor %}

{% endblock %}