{% block title %}{% endblock %}
{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PicShare - Home</title>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="stylesheet" href="../static/styles.css">
{% endblock %}
{% block content %}

	<div class="nav-bar">

		<div class='header'>
			<a href='/dashboard'><h3>PicShare</h3></a>

		</div>

		<div class='header-middle'>
			<input type='text' placeholder='Search...'>
		</div>

		<div class='header-right'>
			<a href='/dashboard'><i class="fas fa-home"></i></a>
			<a href='/post'><i class="fas fa-plus-square"></i></a>
			<a href='/account'><i class="fas fa-user-circle"></i></a>
			<a href='/logout'><i class="fas fa-sign-out-alt"></i></a>
		</div>

	</div>
	<hr>


	<div class='message'>

		<div class='message-box'>
			<div class="message-box-top">
			<p>Messaging: {{ user.username }}</p>

			</div>

			<div class='message-middle'>
				{% for i in messages_received %}
					<p>{{ i.sender.username }}: {{ i.body }}</p>
				{% endfor %}

				<div class='sent'>
					{% for i in messages_sent %}
						<p>Me: {{ i.body }}</p>
					{% endfor %}
					<form method='POST' action=''>
						<div class='send-message'>
								{{form.hidden_tag()}}
								{{form.message()}}
								<div class='send'>{{form.send}}</div>
						</div>
					</form>
				</div>
			
				


		
			</div>




		</div>
	</div>



	

{% endblock %}