<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=, initial-scale=1.0">
	<link rel="stylesheet" href="../static/styles.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<title>Comments - {{ post.caption }}</title>
</head>
<body>
	<div class="nav-bar">

		<div class='header'>
			<a href='/dashboard'><h3>PicShare</h3></a>

		</div>

		<div class='header-middle'>
			<input type='text' placeholder='Search...'>
		</div>

		<div class='header-right'>
			<a href='/dashboard'><i class="fas fa-home"></i></a>
			<a href='/post'><i class="fas fa-plus-square"></i></a>
			<a href='/account'><i class="fas fa-user-circle"></i></a>
			<a href='/logout'><i class="fas fa-sign-out-alt"></i></a>
		</div>

	</div>
	<hr>


	<div class='comments-container'>
		<div class='comments'>
			<div class='comment-box'>
				<h1>There are currently no comments for this post.</h1>
				<a href="{{ url_for('comment', post_id=post.id)}}">Be the first to comment!</a>	
			</div>
		</div>
	</div>

	
	
</body>
</html>