{% block title %}{% endblock %}
{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PicShare - {{ user.username }} </title>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel='stylesheet' href='../static/styles.css'>
{% endblock %}
{% block content %}

	<div class="nav-bar">

		<div class='header'>
			<a href='/dashboard'><h3>PicShare</h3></a>

		</div>

		<div class='header-middle'>
			<input type='text' placeholder='Search...'>
		</div>

		<div class='header-right'>
			<a href='/dashboard'><i class="fas fa-home"></i></a>
			<a href='/post'><i class="fas fa-plus-square"></i></a>
			<a href='/account'><i class="fas fa-user-circle"></i></a>
			<a href='/logout'><i class="fas fa-sign-out-alt"></i></a>
		</div>

	</div>
	<hr>

	<div class='user'>
		<div class='user-info'>


			<div class='profile-pic'>
				<img src='../static/profile_pics/{{ user.profile_pic }}'>
			</div>

			<div class='user-profile-info'>
				<h4>{{ user.username }}</h4>
				{% if total == 1 %}
					<p>{{ total }} follower</p>
				{% else %}
					<p>{{ total }} followers</p>
				{% endif %}

				{% if user.username == current_user.username %}
				{% else %}
				{% if current_user.is_following(user) %}
					<a href="{{ url_for('follow', username=user.username, action='unfollow')}}">Unfollow</a>
				{% else %}
					<a href="{{ url_for('follow', username=user.username, action='follow')}}">Follow</a>
				{% endif %}
				{% endif %}
				{% if user.username == current_user.username %}
				{% else %}
				<a href="{{ url_for('message', receiver=user.username )}}">Message</a>
				{% endif %}
				{% if user.bio_content == None %}
					<p>No bio yet.</p>
				{% else %}
					<p>{{ user.bio_content }}</p>
				{% endif %}
			</div>

			
		</div>
	</div>



	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

		* {
			margin: 0;
			font-family: 'Roboto', sans-serif;
		}

		a {
			text-decoration: none;
			color: black;

		}

		hr {
			height: 1px;
			border: 0;
			background-color: lightgray;

		}

		.user {
			display: flex;
		}

		.user-info {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 30%;
			margin-right: 30%;
			margin-top: 40px;
		}

		.user-profile-info {
			display: flex;
			flex-direction: column;
			margin-left: 100px;
			margin-bottom: 40px;
		}

		.profile-pic > img {
			height: 110px;
			width: 110px;
			border-radius: 50%;
			object-fit: cover;
		}


	</style>

{% endblock %}